@model Ouvrages
@inject IViewLocalizer Localizer


<div class="row">
    <div class="col-4">
      
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3 form-check">
                <label asp-for="Titre" class="form-check-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>

            <div class="mb-3 form-check">
                <label asp-for="Auteur" class="form-check-label"></label>
                <input asp-for="Auteur" class="form-control" />
                <span asp-validation-for="Auteur" class="text-danger"></span>
            </div>

            <div class="mb-3 form-check">
                <label asp-for="Exemplaires" class="form-check-label" ></label>
                <input style="width: 50px; height: 25px;" asp-for="Exemplaires" class="form-control" />
                <span asp-validation-for="Exemplaires" class="text-danger"></span>
               
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">@Localizer["Enregistrer"]</button>
                <a class="btn btn-secondary" asp-action="Index" role="button">@Localizer["Annuler "]</a>
            </div>
        </form>
    </div>
</div>

